
/*right-tab-title*/
.myhome-right-head{
    height: 39px;
    border-bottom: 1px solid #ececec;
}
.myhome-right-head span{
    display: block;
    float: left;
    width: 198px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    background-color: #fafafa;
    border: 1px solid #ececec;
    border-left: 0;
}
.myhome-right-head span:first-child{
    border-left: 1px solid #ececec;
}
.myhome-right-head span.current{
    height: 37px;
    line-height: 36px;
    color: #333;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 2px solid #53a0e3;
}
/*tab-con*/
.myhome-right-con{
    margin-top: 20px;
    overflow: hidden;
}
/*con1 financial-type*/
.con1-financial-type{
    height:36px;
}
.con1-financial-type .name{
    float: left;
    width: 87px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.con1-financial-type ul{
    margin-left: 87px;
}
.con1-financial-type ul li{
    float: left;
    height: 22px;
    line-height: 22px;
    padding: 0 23px;
    margin-bottom: 14px;
    text-align: center;
    color: #333;
    cursor: pointer;
}
.con1-financial-type ul li.current{
    color: #fff;
    background-color: #53a0e3;
    border-radius: 4px;
}
/*con1 time-frame*/
.con1-time-frame{
    height: 22px;
    line-height: 22px;
}
.con1-time-frame .name{
    width: 87px;
    text-align: center;
    display: block;
    float: left;
}
.con1-time-frame ul{
    float: left;
}
.con1-time-frame ul li{
    float: left;
}
.con1-time-frame ul li input{
    display: block;
    width: 80px;
    height: 20px;
    padding-left: 3px;
    outline: 0;
    border: 1px solid #ececec;
    border-radius: 4px;
}
.con1-time-frame ul li label{
    padding: 0 11px;
}
.con1-time-frame ul li a{
    display: inline-block;
    float: left;
    padding-left: 20px;
    outline: 0;
    color: #53a0e3;
}
.con1-time-frame ul li a:hover{
    color: #73bdf1;
}
/*con1 table-thead*/
.con1-table-head{
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    text-align: center;
}
.wh-170{
    width: 170px;
}
.wh-80{
    width: 80px;
}
.wh-130{
    width: 130px;
    text-align: right;
}
.wh-250{
    width: 250px;
}
/*con1 table-tbody*/
.con1-table-body{
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.con1-table-body table{
    border-collapse: collapse;
}
.con1-table-body table tr:hover{
    background-color: #f3f3f3;
}
/*page*/
.page{
    padding: 20px 0 30px;
    float: right;
}
.page span{
    display: block;
    float: left;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-left: 15px;
    color: #3F80DC;
    background: url("../img/page.png") no-repeat;
}
.page span.current {
     background-position: 0 -350px;
 }
.page span.prev {
    background-position: 10px -34px;
}

.page span.next {
    background-position: 0 -62px;
}
/*con2 con2-title*/
.con2-title{
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    line-height: 14px;
}
.con2-title i,
.con3-title i{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background: url("../img/version-ico.png") no-repeat 0 0;
}
.con2-title span{
    color: #333;
    font-size: 14px;
}
/*con2 con2-table-head*/
.con2-table-head{
    border: 1px solid #ececec;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    background-color: #fafafa;
    color: #333;
}
.con2-table-head table{
    border-collapse: collapse;
}
.con2-table-head .wh-id,
.con2-table-body .wh-id{
    width: 74px;
    text-align: center;
}
.con2-table-head .wh-type,
.con2-table-body .wh-type{
    width: 120px;
}
.con2-table-head .wh-time,
.con2-table-body .wh-time{
    width: 140px;
}
.con2-table-head .wh-money,
.con2-table-body .wh-money{
    width: 120px;
    text-align: right;
}
.con2-table-head .wh-other,
.con2-table-body .wh-other{
    width: 435px;
    text-align: center;
}
/*con2 con2-table-body*/
.con2-table-body{
    height: 50px;
    line-height: 50px;
    color: #333333;
    margin-left: 1px;
}
.con2-table-body table{
    border-collapse: collapse;
}
.con2-table-body table tr{
    height: 50px;
}
.con2-table-body tr:hover{
    background-color: #f3f3f3;
}
/*con2 warm-tip*/
.warm-tip{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ececec;
    font-size: 12px;
    margin-top: 86px;
    padding: 10px;
    color: #666;
}
.warm-tip .warm-tip-title{
    font-size: 14px;
    line-height: 14px;
    color: #ff6803;
    margin-bottom: 10px;
}
/*con3 date-range*/
.date-range span{
    font-size: 14px;
    color: #666;
    margin-right: 10px;
}
.date-range ul{
    display: inline-block;
}
.date-range ul li{
    display: inline-block;
    vertical-align: middle;
}
.date-range ul input{
    font-size: 14px;
    color: #333;
    border: 1px solid #ececec;
    padding: 10px;
    outline: 0;
    width: 115px;
    box-sizing: border-box;
}
.date-range ul label{
    color: #333;
    width: 15px;
}
.date-range ul a{
    font-size: 12px;
    margin-left: 20px;
    color: #53a0e3;
    outline: none;
}
.date-range ul a:hover{
    color: #73bdf1;
}
/*con3 p*/
.con3-title{
    font-size: 14px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 14px;
}
.con3-title .title-num{
    color: #fff;
    background-color: #ffb324;
    padding: 2px 4px;
    border-radius: 2px;
}
.con3-title .title-sub{
    color: #999;
    margin-left: 10px;
    margin-right: 5px;
}
/*con3 table-head*/
.con3-table-head{
    border: 1px solid #ececec;
    height: 50px;
    line-height: 50px;
    background-color: #fafafa;
    color: #333;
}
.con3-table-head table,
.con3-table-body table{
    text-align: center;
    border-collapse: collapse;
}
.con3-table-body table tr{
    height: 50px;
    line-height: 50px;
}
.con3-table-body table tr:hover{
    background-color: #f3f3f3;
}
.con3-table-head table td,
.con3-table-body table td{
    font-size: 14px;
    color: #333333;
}
.con3-table-head .wh-id,
.con3-table-body .wh-id{
    width: 74px;
}
.con3-table-head .wh-time,
.con3-table-body .wh-time{
    width: 110px;
}
.con3-table-head .wh-amount,
.con3-table-body .wh-amount{
    width: 150px;
    text-align: right;
}
.con3-table-head .wh-principal,
.con3-table-body .wh-principal{
    width: 170px;
    text-align: right;
}
.con3-table-head .wh-interest,
.con3-table-body .wh-interest{
    width: 160px;
    text-align: right;
}
.con3-table-head .wh-other,
.con3-table-body .wh-other{
    width: 226px;
}