.con-right{
    min-height: 690px;
    border: 1px solid #e3e3e3;
}
.myhome-right-head{
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #e3e3e3;
    margin-left: -1px;
}
.myhome-right-head span{
    display: block;
    float: left;
    color: #333;
    padding: 0 30px;
    cursor: pointer;
    font-size: 14px;
}
.myhome-right-head span.current{
    line-height: 37px;
    height: 39px;
    color: #0893D4;
    border-bottom: 1px solid #ffffff;
    border-top: 3px solid #0893D4;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.reception{
    height: 40px;
    line-height: 40px;
    background-color: #F8F8F8;
    color: #888;
    padding: 0 20px;
    margin-left: 1px;
}
.reception strong{
    font-size: 16px;
    color: #333;
}
.consult-row{
    padding: 16px 20px 20px;
    height: 34px;
    color: #888;
}
.consult-row span{
    display: block;
    float: left;
    width: 220px;
    border-left: 2px solid #0893d4;
    padding-left: 10px;
}
.consult-row span strong{
    font-size: 16px;
    color: #333;
}
.consult-row span em{
    font-style: normal;
    color: #333;
}
.invest-table-head{
    margin: 0 20px;
    background-color: #F8F8F8;
    height: 40px;
    border-top: 1px solid #ededed;
    border-bottom: 2px solid #e3e3e3;
}
.invest-table-body{
    margin: 0 20px;
}
.invest-table-head table,
.invest-table-body table{
    text-align: center;
    border-collapse: collapse;
}
.invest-table-body table tr:hover{
    background-color: #f3f3f3;
}
.invest-table-head table td,
.invest-table-body table td{
    height: 40px;
}
.wh-130{
    width: 130px;
}
.wh-90{
    width: 90px;
}
.wh-70{
    width: 70px;
}
.wh-80{
    width: 80px;
}
.wh-159{
    width: 159px;
}
.wh-149{
    width: 149px;
}
.wh-120{
    width: 120px;
}
.wh-240{
     width: 240px;
 }
.wh-220{
    width: 220px;
}