.con-right{
    width: 890px;
}
/*jifen status*/
.jifen-status{
    height: 95px;
}
.jfen-status-item{
    float: left;
    display: block;
    width: 200px;
    height: 57px;
    margin-left: -21px;
    padding-left: 20px;
    border-left: 1px solid #ececec;
}
.jfen-status-item em{
    display: block;
    margin-top: -12px;
    line-height: 36px;
    font-size: 14px;
    font-style: normal;
    color: #999;
}
.jfen-status-item strong{
    font-size: 30px;
    font-weight: 400;
    color: #f60;
    display: block;
}
.jfen-status-item strong.notuse{
    color: #333333;
}
/*myhome-right-head*/
.myhome-right-head{
    height: 39px;
    border-bottom: 1px solid #ececec;
}
.myhome-right-head span{
    display: block;
    float: left;
    width: 198px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    background-color: #fafafa;
    border: 1px solid #ececec;
    margin: 0 0 -1px -1px;
}
.myhome-right-head span.current{
    height: 37px;
    line-height: 36px;
    color: #333;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 2px solid #53a0e3;
}
/*myhome-right-con*/
.myhome-right-con{
    margin-top: 20px;
}
/*con1 notfinish-title*/
.notfinish-title{
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    padding-left: 20px;
}
.notfinish-item{
    line-height: 23px;
    padding: 8px 0 7px 20px;
    border-bottom: 1px solid #ececec;
    min-height: 24px;
    overflow: hidden;
}
.notfinish-item>span{
    display: block;
    float: left;
    text-align: left;
    color: #333333;
}
.wh-140{
    width: 140px;
}
.wh-145{
    width: 145px;
}
.wh-470{
    width: 470px;
}
.notfinish-item>span a{
    width: 78px;
    height: 23px;
    line-height: 23px;
    display: inline-block;
    background-color: #53a0e3;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: 0;
    border-radius: 4px;
    text-align: center;
}
.notfinish-item>span a:hover{
    background-color: #73bdf1;
    transition: all 0.15s ease-in-out;
}
/*finifh title*/
.finish-title{
    margin-top: 96px;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    padding-left: 20px;
}
.none-box img{
    display: block;
    margin: 80px auto 0;
}
.none-box span{
    display: block;
    padding-bottom: 6px;
    font-size: 14px;
    text-align: center;
}
/*page*/
.page{
    padding: 20px 0 30px;
    float: right;
}
.page span{
    display: block;
    float: left;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-left: 15px;
    color: #3F80DC;
    background: url("../img/page.png") no-repeat;
}
.page span.current {
    background-position: 0 -350px;
}
.page span.prev {
    background-position: 10px -34px;
}

.page span.next {
    background-position: 0 -62px;
}
/*con2*/
/*type*/
.type{
    height: 22px;
}
.type-lt{
    float: left;
}
.type-rt{
    float: right;
}
.type span{
    display: block;
    float: left;
    height: 22px;
    line-height: 22px;
    padding: 0 23px;
    text-align: center;
    cursor: pointer;
}
 .type span.current{
    color: #fff;
    background-color: #53a0e3;
    border-radius: 4px;
}
 /*exchange-list*/
.exchange-list{
    margin-top: 20px;
    margin-left: -20px;
    overflow: hidden;
}
.exchange-list li{
    float: left;
    width: 207px;
    height: 207px;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.exchange-list li:hover{
    box-shadow: 0 8px 8px rgba(0,0,0,0.06);
    transform: translate3d(0,-3px,0);
    transition: all 0.15s ease-in-out;
}
.exchange-list li img{
    display: block;
    margin: 25px auto;
}
.exchange-list li span{
    display: block;
    padding: 5px 0;
    text-align: center;
}
.exchange-list li strong{
    display: block;
    color: #f60;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
/*con3*/
.jifen-detail-top{
    height: 22px;
    overflow: hidden;
}
.jifen-detail-type,.jifen-detail-range{
    float: left;
}
.jifen-detail-type span{
    display: block;
    float: left;
    height: 22px;
    line-height: 22px;
    padding: 0 23px;
    text-align: center;
    cursor: pointer;
}
.jifen-detail-type span.current{
    color: #fff;
    background-color: #53a0e3;
    border-radius: 4px;
}
.jifen-detail-range input{
    display: block;
    float: left;
    width: 80px;
    height: 20px;
    line-height: normal;
    padding-left: 3px;
    outline: 0;
    border: 1px solid #ececec;
    border-radius: 4px;
}
.jifen-detail-range span{
    display: block;
    float: left;
    width: 32px;
    text-align: center;
    height: 22px;
    line-height: 22px;
}
.jifen-detail-range a{
    height: 22px;
    line-height: 22px;
    float: left;
    width: 70px;
    margin-left: 10px;
    font-size: 12px;
    display: inline-block;
    background-color: #53a0e3;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: 0;
    border-radius: 4px;
    text-align: center;
}
.jifen-detail-range a:hover{
    background-color: #73bdf1;
    transition: all 0.15s ease-in-out;
}
/*jifen-detail-title*/
.jifen-detail-title{
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    text-align: center;
}
.wh-160{
    width: 160px;
}
.wh-120{
    width: 120px;
}
.wh-100{
    width: 100px;
}
.wh-260{
    width: 260px;
    text-align: right;
}
/*hint-box*/
.hint-box{
    margin: 40px 20px 20px;
    padding: 15px;
    background-color: #fafafa;
}
.hint-box h3{
    font-size: 14px;
    color: #f60;
    padding-bottom: 5px;
}
.hint-box p{
    line-height: 20px;
    color: #333333;
}